.TodoList {
    li {
        padding: 15px 20px;
        border-bottom: 1px solid #dcdcdc;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        + li {
            border-top: none;
        }
        div {
            display: flex;
            width: 90%;
            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }
        span {
            margin-right: 20px;
            font-size: 16px;
            cursor: pointer;
        }
        input[type='text'] {
            margin-left: 10px;
        }
        // input {
        //     width: 20px;
        //     height: 20px;
        //     margin-right: 20px;
        //     cursor: pointer;
        //     vertical-align: middle;
        // }
        em {
            margin-left: 10px;
            cursor: pointer;
            font-weight: bold;
        }
        &.on span {
            color: tomato;
            font-weight: bold;
        }
        &.on em {
            // color: rgb(15, 111, 255);
            color: #999;
            text-decoration: line-through;
        }
        button {
            width: 60px;
            height: 40px;
            border: 1px solid #000;
            cursor: pointer;
        }
    }
}
